*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.top{

    width: 100%;
    height: 70px;
    background-color: rgb(78, 42, 42);
   padding: 40px 0px 40px 0px;
    display: flex;
    justify-content:center;
    align-items: center;
    position: fixed;
    z-index: 999;
   
}

.center{
    text-decoration: none;
    color: white;
    padding: 25px 30px 25px 30px ;
    font-size: 28px;
    transition: 0.5s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.center:hover{
    background-color: rgb(86, 83, 83);
    padding: 25px 30px 25px 30px ;
} 

.active{
    background-color: rgb(86, 83, 83);
    padding: 25px 30px 25px 30px ; 
}



.pic{
    width: 100%;
    height: 1110px;

   
}

.header{
background-color: rgba(23, 22, 22, 0.429);
width: 100%;
position: absolute;
top: 0px;
height: 1113px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.hed{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(138, 65, 65);
    font-size: 75px;
}

.des{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 550px;
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

.click{
    width: 170px;
    height: 75px;
    margin-top: 30px;
    background-color: rgb(91, 42, 42);
    cursor: pointer;
    color: white;
    font-size: 23px;
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 1px 2px 5px 2px rgb(16, 16, 16);
    transition: 0.5s;
   
}

  .click:hover{
    background-color:  rgb(86, 83, 83);

  }


 .s{

    background-color: rgb(255, 253, 253);
    color: rgb(7, 7, 7);
    width: 100%;
    height: 1000px;

  }


  .footer{

    background-color: rgb(78, 42, 42);
    width: 100%;
    height: 15vh;  
    display: flex;
    justify-content: center;
    align-items: center;   
    position: relative;
   
   }
.media{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    position: absolute;


}

.med{
    width: 35px;
    height: 50px;
}
.footer a{
margin-bottom: 60px;
margin-left:  20px; 
font-size: 30px;
color: white;


}

.sp{
   color: rgb(201, 201, 30);
}

.hr{
   
   
    color:white;
    position: absolute;
      size: 10px;
 
}

.copy-right{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    color: white;
    font-size: 25px;
    margin-top: 85px;
}


